<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/CSS/index.css">
        <link rel="stylesheet" href="/styles/CSS/add-words.css">
        <link rel="icon" href="/images/logo.ico">
        <script src="/scripts/add-words.js" defer></script>
        <script src="/scripts/main.js" defer></script>
    </head>
    <body>
        <div id="backdrop"></div>

        <div id="second-backdrop"></div>

        <div id="add-parentUI">
            <div id="add-parent__title">Add parent</div>
            <div class="add-parent__content">
                <form action="/add-words" method="post" id="addParentForm">
                    <label for="parentName">Parent name:</label>
                    <input type="text" name="parentName" id="parentName" placeholder="Type here..." maxlength="30">
                    <label for="parentBackground">Select the background color:</label>
                    <input type="color" name="parentBackground" id="parentBackground">
                    <label for="parentTextColor">Select the color of the text:</label>
                    <input type="color" name="parentTextColor" id="parentTextColor">
                    <div id="previewParent">
                        Preview parent
                    </div>
                    <input type="hidden" name="condition" value="addParent">
                    <button type="submit" id="addParentSubmitButton" class="button">Submit</button>
                </form>
            </div>
        </div>
    
        <div id="add-childUI">
            <div id="add-child__title">Add child</div>
            <div class="add-child__content">
                <form action="/add-words" method="post" id="addChildForm">
                    <label for="childName">Child name:</label>
                    <input type="text" name="childName" id="childName" placeholder="Type here..." maxlength="30">
                    <label for="childBackground">Select the background color:</label>
                    <input type="color" name="childBackground" id="childBackground">
                    <label for="childTextColor">Select the color of the text:</label>
                    <input type="color" name="childTextColor" id="childTextColor">
                    <div id="previewChild">
                        Preview child
                    </div>
                    <label for="childUI-select-parent">Choose a parent in which your child will be stored!</label>
                    <div id="childUI-select-parent">
                        Choose a parent
                    </div>
                    <input type="hidden" name="selectedParent" id="childUISelectedParentId">
                    <input type="hidden" name="condition" value="addChild">
                    <button type="submit" id="addChildSubmitButton" class="button">Submit</button>
                </form>
            </div>
        </div>

        <div id="childUI-select-parent-list">
            <% if (parents.length > 0) { %>
                <% parents.forEach(parent => { %>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> class="list-parent" style="background: <%=parent.parentBackground %>">
                        <p <% /* eslint-disable css-propertyvalueexpected */ %> class="list-parent-name" style="color: <%=parent.parentTextColor %>"><%= parent.parentName%></p>
                        <input type="hidden" name="selectedParentValue" value="<%=parent._id%>">
                    </div>
                <% }) %>
            <% } %>
        </div>

        <div id="add-wordsUI">
            <div id="add-words__title">Add words</div>
            <div class="add-words__content">
                <form action="/add-words" method="post" id="addWordsForm">
                    <label for="firs-word">Enter the first word:</label>
                    <input type="text" name="firstWord" id="first-word" placeholder="Type here...">
                    <label for="second-word">Enter the second word:</label>
                    <input type="text" name="secondWord" id="second-word" placeholder="Type here...">
                    <label for="wordsUI-select-parent">Choose a parent in which your words will be stored!</label>
                    <div id="wordsUI-select-parent">
                        Choose a parent
                    </div>
                    <input type="hidden" name="selectedParentId" id="wordsUISelectedParentId">
                    <input type="hidden" name="selectedParentChildren" id="wordsUISelectedParentChildren">
                    <label for="wordsUI-select-child">Choose a child in which your words will be stored!</label>
                    <div id="wordsUI-select-child">
                        Choose a child
                    </div>
                    <input type="hidden" name="selectedWordsChild" id="selectedWordsChildPosition">
                    <input type="hidden" name="condition" value="addWords">
                    <button type="submit" id="addWordsSubmitButton" class="button">Submit</button>
                </form>
            </div>
        </div>

        <div id="wordsUI-select-parent-list">
            <% if (parents.length > 0) { %>
                <% parents.forEach(parent => { %>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> class="list-words-parent" style="background: <%=parent.parentBackground %>">
                        <p <% /* eslint-disable css-propertyvalueexpected */ %> class="list-words-parent-name" style="color: <%=parent.parentTextColor %>"><%= parent.parentName%></p>
                        <input type="hidden" name="selectedWordsParentValue" value="<%=parent._id%>">
                        <input type="hidden" name="selectedParentChildrenValue" class="selectedParentChildrenValue" value="<%= JSON.stringify(parent.children)%>">
                    </div> 
                <% }) %>
            <% } %>
        </div>

        <div id="wordsUI-select-child-list"> 
            
        </div>
        
        <header>
            <h1>ADD WORDS PAGE</h1>
            <form action="/">
                <button type="submit">Main Page</button>
            </form>
        </header>
        <main>
            <div id="add-words__container">
                <div id="add-words__main">

                    <div class="parents-container">
                        <% if (parents.length > 0) { %>
                           <% parents.forEach(parent => { %>
                                <div <% /* eslint-disable css-propertyvalueexpected */ %>  class="parent-container" style="background: <%=parent.parentBackground %>">
                                    <input type="hidden" name="parentID" value="<%=parent._id%>">
                                    <div <% /* eslint-disable css-propertyvalueexpected */ %>  class="parent-container-title" style="color: <%=parent.parentTextColor %>">
                                        <%=parent.parentName%> (<span class="parent-symbol">+</span>)
                                    </div>
                                    <% if (parent.children.length > 0) { %>
                                        <% parent.children.forEach(child => { %>

                                            <div class="children-container">
                                                <div <% /* eslint-disable css-propertyvalueexpected */ %> class="child-container" style="background: <%=child.childBackground %>">
                                                    <div  <% /* eslint-disable css-propertyvalueexpected */ %> class="child-name" style="color: <%=child.childTextColor %>">
                                                        <%= child.childName %>
                                                        <% if (child.words.length > 0) { %>
                                                            (<%=child.words.length%>)
                                                        <% } else { %>
                                                            (0)
                                                        <% } %> 
                                                    </div>
                                                </div>
                                            </div>
                                        <% })%>
                                    <% } %>
                                </div>
                            <%  }) %>
                        <%  } %>
                        
                    </div>
                        
                        

                    <!-- <div id="add-words__main-prompt">
                        <p>
                            Mesaj smecher!
                        </p>
                    </div> -->

                </div>

                <div id="add-words__footer">
                    <div id="add-words__footer-buttons">
                        <button id="add-parent__button" class="add-words__footer-button">Add parent</button>
                        <button id="add-child__button" class="add-words__footer-button">Add child</button>
                        <button id="add-words__button" class="add-words__footer-button">Add words</button>
                    </div>
                </div>

            </div>

            <!-- <form action="/add-words" method="POST">
                <input type="text" placeholder="Enter the first word" name="firstWord">
                <input type="text" placeholder="Enter the second word" name="secondWord">
                <button type="submit">Send words</button>
            </form> -->
        </main>
        <footer>

        </footer>
    </body>
</html>