<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/CSS/index.css">
        <link rel="stylesheet" href="/styles/CSS/add-words.css">
        <link rel="icon" href="/images/logo.ico">
        <script src="/scripts/add-words.js" defer></script>
        <script src="/scripts/main.js" defer></script>
    </head>
    <body>
        <div id="backdrop"></div>

        <div id="second-backdrop"></div>

        <div id="editUI">
            <div id="editUI-title">
                <p>
                    Currently editing <span id="editUI-title-preview" class="preview-element">Example</span>
                </p>
                <div class="close-main-page"> 
                    X
                </div>
            </div>
            <div id="editUI-content">
                <form action="/add-words" method="post" id="editForm">

                    <section id="editUI-parent-section">
                        <label for="editUIParentName">Parent name:</label>
                        <input type="text" name="editUIParentName" id="editUIParentName" placeholder="Type here..." maxlength="30">
                        <label for="editParentBackground">Select the background color:</label>
                        <input type="color" name="editParentBackground" id="editParentBackground">
                        <label for="editParentTextColor">Select the color of the text:</label>
                        <input type="color" name="editParentTextColor" id="editParentTextColor" value="#ffffff">
                        <div id="previewEditedParent" class="preview-element">
                            Preview Example
                        </div>
                        <div class="delete-button" id="editUI-delete-parent-button">Delete parent</div>
                        <label for="editUISelectedChildPosition" class="margin-label">Choose a child that you want to edit:</label>
                        <div id="editUI-select-child">
                            Select a child
                        </div>
                        <input type="hidden" name="editUISelectedChildPosition" id="editUISelectedChildPosition">
                    </section>

                    <section id="editUI-child-section">
                        <label for="editChildName">Child name:</label>
                        <input type="text" name="editChildName" id="editChildName" placeholder="Type here..." maxlength="30">
                        <label for="editChildBackground">Select the background color:</label>
                        <input type="color" name="editChildBackground" id="editChildBackground">
                        <label for="childTextColor">Select the color of the text:</label>
                        <input type="color" name="editChildTextColor" id="editChildTextColor" value="#ffffff">
                        <div id="previewEditedChild" class="preview-element">
                            Preview child example
                        </div>
                        <div class="editUI-buttons-container">
                            <div class="delete-button" id="editUI-delete-child-button">Delete child</div>
                            <div class="move-button" id="editUI-move-child-button">Move child</div>
                        </div>
                        <label for="editUISelectedWordsPosition" class="margin-label">Choose a pair of words you want to edit:</label>
                        <div id="editUI-select-words">
                            Example - pair
                        </div>
                        <input type="hidden" name="editUISelectedWordsPosition" id="editUISelectedWordsPosition">
                    </section>

                    <section id="editUI-words-section">
                        <label for="edited-first-word">Enter the first word:</label>
                        <input type="text" name="edited-firstWord" id="edited-first-word" placeholder="Type here...">
                        <label for="edited-second-word">Enter the second word:</label>
                        <input type="text" name="edited-secondWord" id="edited-second-word" placeholder="Type here...">
                        <div class="editUI-buttons-container">
                            <div class="delete-button" id="editUI-delete-words-button">Delete words</div>
                            <div class="move-button" id="editUI-move-words-button">Move words</div>
                        </div>
                    </section>

                    <input type="hidden" name="condition" value="editing">
                    <div id="editUI-error-message"></div>
                    <button type="submit" id="editUISubmitButton" class="button">Submit changes</button>
                </form>
            </div>
        </div>

        <div id="add-parentUI"> 
            <div id="add-parent__title"> 
                <p>Add parent</p> 
                <div class="close-main-page"> 
                    X
                </div> 
            </div>
            <div class="add-parent__content">
                <form action="/add-words" method="post" id="addParentForm">
                    <label for="parentName">Parent name:</label>
                    <input type="text" name="parentName" id="parentName" placeholder="Type here..." maxlength="30">
                    <label for="parentBackground">Select the background color:</label>
                    <input type="color" name="parentBackground" id="parentBackground">
                    <label for="parentTextColor">Select the color of the text:</label>
                    <input type="color" name="parentTextColor" id="parentTextColor" value="#ffffff">
                    <div id="previewParent">
                        Preview parent
                    </div>
                    <input type="hidden" name="condition" value="addParent">
                    <div id="parentUI-error-message"></div>
                    <button type="submit" id="addParentSubmitButton" class="button">Submit</button>
                </form>
            </div>
        </div>
    
        <div id="add-childUI">
            <div id="add-child__title">
                <p>Add child</p>
                <div class="close-main-page">
                    X
                </div> 
            </div>
            <div class="add-child__content">
                <form action="/add-words" method="post" id="addChildForm">
                    <label for="childName">Child name:</label>
                    <input type="text" name="childName" id="childName" placeholder="Type here..." maxlength="30">
                    <label for="childBackground">Select the background color:</label>
                    <input type="color" name="childBackground" id="childBackground">
                    <label for="childTextColor">Select the color of the text:</label>
                    <input type="color" name="childTextColor" id="childTextColor" value="#ffffff">
                    <div id="previewChild">
                        Preview child
                    </div>
                    <label for="childUI-select-parent">Choose a parent in which your child will be stored!</label>
                    <div id="childUI-select-parent">
                        Choose a parent
                    </div>
                    <input type="hidden" name="selectedParent" id="childUISelectedParentId">
                    <input type="hidden" name="condition" value="addChild">
                    <div id="childUI-error-message"></div>
                    <button type="submit" id="addChildSubmitButton" class="button">Submit</button>
                </form>
            </div>
        </div>


        <div id="childUI-select-parent-list">
            <% if (parents.length > 0) { %>
                <% parents.forEach(parent => { %>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> class="list-parent" style="background: <%=parent.parentBackground %>">
                        <p <% /* eslint-disable css-propertyvalueexpected */ %> class="list-parent-name" style="color: <%=parent.parentTextColor %>"><%= parent.parentName%></p>
                        <input type="hidden" name="selectedParentValue" value="<%=parent._id%>">
                    </div>
                <% }) %>
            <% } %>
        </div>

        <div id="add-wordsUI">
            <div id="add-words__title">
                <p>Add words</p>
                <div class="close-main-page">
                    X
                </div>    
            </div>
            <div class="add-words__content">
                <form action="/add-words" method="post" id="addWordsForm">
                    <label for="first-word">Enter the first word:</label>
                    <input type="text" name="firstWord" id="first-word" placeholder="Type here...">
                    <label for="second-word">Enter the second word:</label>
                    <input type="text" name="secondWord" id="second-word" placeholder="Type here...">
                    <label for="wordsUI-select-parent">Choose a parent in which your words will be stored!</label>
                    <div id="wordsUI-select-parent">
                        Choose a parent
                    </div>
                    <input type="hidden" name="selectedParentId" id="wordsUISelectedParentId">
                    <input type="hidden" name="selectedParentChildren" id="wordsUISelectedParentChildren">
                    <label for="wordsUI-select-child">Choose a child in which your words will be stored!</label>
                    <div id="wordsUI-select-child">
                        Choose a child
                    </div>
                    <input type="hidden" name="selectedWordsChild" id="selectedWordsChildPosition">
                    <input type="hidden" name="condition" value="addWords">
                    <div id="wordsUI-error-message"></div>
                    <button type="submit" id="addWordsSubmitButton" class="button">Submit</button>
                </form>
            </div>
        </div>

        <div id="wordsUI-select-parent-list">
            <% if (parents.length > 0) { %>
                <% parents.forEach(parent => { %>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> class="list-words-parent" style="background: <%=parent.parentBackground %>">
                        <p <% /* eslint-disable css-propertyvalueexpected */ %> class="list-words-parent-name" style="color: <%=parent.parentTextColor %>"><%= parent.parentName%></p>
                        <input type="hidden" name="selectedWordsParentValue" value="<%=parent._id%>">
                        <input type="hidden" name="selectedParentChildrenValue" class="selectedParentChildrenValue" value="<%= JSON.stringify(parent.children)%>">
                    </div> 
                <% }) %>
            <% } %>
        </div>

        <div id="wordsUI-select-child-list"> 
            <h2 class='errorMessage'>You must select a parent!</h2>
        </div>
        
        <header>
            <h1>ADD WORDS PAGE</h1>
            <form action="/">
                <button type="submit">Main Page</button>
            </form>
        </header>
        <main>
            <div id="add-words__container">
                <div id="add-words__main">

                    <div class="parents-container">
                        <% if (parents.length > 0) { %>
                           <% parents.forEach(parent => { %>
                                <div <% /* eslint-disable css-propertyvalueexpected */ %>  class="parent-container" style="background: <%=parent.parentBackground %>">
                                    <input type="hidden" name="parentId" value="<%=parent._id%>">
                                    <div <% /* eslint-disable css-propertyvalueexpected */ %>  class="parent-container-title" style="color: <%=parent.parentTextColor %>">
                                        <div class="parent-container-text">
                                            <%=parent.parentName%> (<span class="parent-symbol">+</span>)
                                        </div>
                                        <div class="edit-button">
                                        </div>
                                    </div>
                                    <% if (parent.children.length > 0) { %>
                                        <% parent.children.forEach(child => { %>

                                            <div class="children-container">
                                                <div <% /* eslint-disable css-propertyvalueexpected */ %> class="child-container" style="background: <%=child.childBackground %>">
                                                    <div  <% /* eslint-disable css-propertyvalueexpected */ %> class="child-name" style="color: <%=child.childTextColor %>">
                                                        <%= child.childName %>
                                                        <% if (child.words.length > 0) { %>
                                                            (<%=child.words.length%>)
                                                        <% } else { %>
                                                            (0)
                                                        <% } %> 
                                                    </div>
                                                </div>
                                            </div>
                                        <% })%>
                                    <% } %>
                                </div>
                            <%  }) %>
                        <%  } %>
                        
                    </div>
                        
                        

                    <!-- <div id="add-words__main-prompt">
                        <p>
                            Mesaj smecher!
                        </p>
                    </div> -->

                </div>

                <div id="add-words__footer">
                    <div id="add-words__footer-buttons">
                        <button id="add-parent__button" class="add-words__footer-button">Add parent</button>
                        <button id="add-child__button" class="add-words__footer-button">Add child</button>
                        <button id="add-words__button" class="add-words__footer-button">Add words</button>
                    </div>
                </div>

            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>